@charset "UTF-8";
@import "vendor/bootstrap.min.css";
.dark-blue-bg {
  color: #fff;
  background-color: #0d2435;
}

.white-bg {
  background-color: #fff;
  color: #000;
}

.no-box-shadow, .form-control {
  box-shadow: none !important;
}

.no-border, .btn-gold {
  border: none !important;
}

.no-radius {
  border-radius: 0;
}

.light-blue-text {
  color: #549cb4;
}

.hide {
  display: none;
}

@media (max-width: 991px) {
  .landing .content, footer .content, header .head, .newsletter form, .newsletter .content {
    flex-direction: column;
  }
}

.button {
  background-color: #e8e8e8;
  color: #8a8a8a;
}

.btn-light {
  color: #fff;
  background-color: #2abbec;
}
.btn-light :hover {
  background-color: #18a8de;
}

.btn-gold {
  color: #0d2435;
  background-color: #ffe587 !important;
}

.newsletter .text {
  max-width: 65%;
}
.newsletter .text span {
  font-size: 1.5rem;
}
.newsletter .content {
  max-width: 1000px;
}
.newsletter .form-control {
  border-radius: 0;
  border: 3px solid #2abbec;
  background-color: transparent;
  color: #fff;
}
.newsletter .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
.newsletter .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
.newsletter .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
.newsletter .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
.newsletter .form-control:placeholder-shown {
  color: #fff;
}

.banner {
  position: relative;
}
.banner .ban-title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 3rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 2rem;
}
@media (max-width: 991px) {
  .banner .ban-title {
    font-size: 1rem;
  }
}

.card-body {
  background-color: #f2f2f2;
}

.card .img-holder {
  max-height: 260px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.card .img-holder::after {
  content: "";
  position: absolute;
  opacity: 0.095;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: transparent;
  transition: all 0.8s ease-in-out 0s;
}
.card img {
  transition: all 0.8s ease-in-out 0s;
}
.card:hover .img-holder::after {
  background-color: #18a8de;
}
.card:hover img {
  -ms-transform: rotate(2deg) scale(1.05);
  -webkit-transform: rotate(2deg) scale(1.05);
  transform: rotate(2deg) scale(1.05);
}

.fixed-lp {
  position: fixed;
  right: 20px;
  bottom: 50px;
}
.fixed-lp img {
  max-width: 50px;
  display: block;
}

header {
  background-color: #fff;
  min-height: 100px;
}
header .logo {
  max-width: 15rem;
}
header .head {
  display: flex;
}

header-lp {
  height: 140px;
}

footer {
  padding: 2.7rem 0;
  text-align: center;
}
footer .content {
  margin: auto;
  max-width: 800px;
}
footer .form-control {
  border: 3px solid #ffe587;
  border-radius: 0;
  background-color: transparent !important;
  color: #fff;
}
footer .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #fff;
}
footer .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #fff;
}
footer .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
}
footer .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #fff;
}
footer .form-control:placeholder-shown {
  color: #fff;
}

body {
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
}

main {
  background-color: #fff;
}

a {
  color: #000;
  margin: 0 auto;
}
a:hover {
  color: #000;
}

ol,
ul {
  list-style: none;
}

.form-group label.error {
  color: #da5d5d;
}

.form-control.error {
  border-left: 3px solid #f00 !important;
}
.form-control.valid {
  border-left: 3px solid #009200 !important;
}

.landing .description {
  max-width: 495px;
  font-size: 1.2rem;
  font-weight: 600;
}
.landing .description ul {
  padding: 0;
}
.landing .description li::before {
  content: "•   ";
  color: #ffe587;
  font-size: 2rem;
}

.landing-form {
  max-width: 400px;
  border-radius: 25px;
  background-color: #f2f2f2;
}
.landing-form .head {
  border-radius: 25px 25px 0px 0px;
}

.landing-title {
  max-width: 600px;
}

.testimony img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}
.testimony p {
  font-size: 0.7em;
  letter-spacing: -1px;
}

a:link {
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
