// Colors variables
$color: #18a8de;
$dark-color: #0d2435;
$light-color: #2abbec;

$gold:  #c3b572;

$color-btn: #e8e8e8;
$color-input: #f7f7f7;
$gray: #f2f2f2;

$font-color: #000;
$light-font-color: #fff;
$gray-font-color: #a6a6a6;
$light-blue-font-color: #549cb4;

$success: #009200;
$error: #f00;
$light-error: #ff0000b3;

// Background variables
$background: #fff;