// Button styles
.button {
    background-color: $color-btn;
    color: #8a8a8a;
}

.btn-light {
    color: $light-font-color;
    background-color: $light-color;
    :hover {
        background-color: $color;
    }
}

.btn-gold {
    color: $light-font-color;
    background-color: $gold !important;
    @extend .no-border;
}