// Header styles
header {
    background-color: $background;
    min-height: 100px;
    .logo {
        max-width: 15rem;
    }
    .head {
        display: flex;
        @extend %responsive-flex;
    }
}

header-lp {
	height: 140px;
}