// Styles for index page
.newsletter {
    .text {
        max-width: 65%;
        span {
            font-size: 1.5rem;
        }
    }
    .content {
        max-width: 1000px;
        @extend %responsive-flex;
    }
    form {
        @extend %responsive-flex;
    }
    .form-control {
        border-radius: 0;
        border: 3px solid $light-color;
        background-color: transparent;
        color: $light-font-color;
        @include placeholder-color ($light-font-color);
    }
}

.banner {
    position: relative;
    .ban-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0,0.5);
        color: #fff;
        font-size: 2rem;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }
    @media (max-width: 991px) {
        height: 350px;
    }
}

.card-body {
    background-color: $gray;
}

.card {
    .img-holder {
        max-height: 260px;
        width: 100%;
        overflow: hidden;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            opacity: 0.095;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background-color: transparent;
            transition: all .8s ease-in-out 0s;
        }
    }
    img {
        transition: all .8s ease-in-out 0s;
    }
    &:hover {
        .img-holder::after {
            background-color: $color;
        }
        img {
            -ms-transform: rotate(2deg) scale(1.05);
            -webkit-transform: rotate(2deg) scale(1.05);
            transform: rotate(2deg) scale(1.05);
        }
    }
}