// Styles for index page
.newsletter {
    .text {
        max-width: 65%;
        span {
            font-size: 1.5rem;
        }
    }
    .content {
        max-width: 600px;
        @extend %responsive-flex;
    }
}