// Styles for index page
.newsletter {
    .text {
        max-width: 65%;
        span {
            font-size: 1.5rem;
        }
    }
    .content {
        max-width: 1000px;
        @extend %responsive-flex;
    }
    form {
        @extend %responsive-flex;
    }
    .form-control {
        border-radius: 0;
        border: 3px solid $light-color;
        background-color: transparent;
        color: $light-font-color;
        @include placeholder-color ($light-font-color);
    }
}

.banner {
    position: relative;
    .ban-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1rem 3rem;
        background: rgba(0, 0, 0,0.5);
        color: #fff;
        font-size: 2rem;
        @media (max-width: 991px) {
            font-size: 1rem;
        }
    }
    @media (max-width: 991px) {
        height: 350px;
    }
}

.card-body {
    background-color: $gray;
}